[data-body-bg="color_1"]{
	background-color: #FF7468;
}
[data-body-bg="color_2"]{
	background-color: #D54400;
}
[data-body-bg="color_3"]{
	background-color: #01BFBD;
}
[data-body-bg="color_4"]{
	background-color: #8F4AB1;
}
[data-body-bg="color_5"]{
	background-color: #0E8D68;
}
[data-body-bg="color_6"]{
	background-color: #F36F8F;
}
[data-body-bg="color_7"]{
	background-color: #674DF0;
} 